[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lambda-layers-testing = {editable = true, path = "."}
invoke = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
synth = "cdk synth --no-version-info"
deploy = "cdk deploy --no-version-info"
clean = "invoke clean"